h2 {
    text-align: center;
    padding: 10px;
}
  
.scrapping-container {
    width: 80%;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(222, 226, 230);
}
.scraping-wraper{
    width: 90%;
    margin: 10px auto;
}
.scraping-input{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#scrapp-btn {
    background-color: rgb(24, 197, 24);
    color: white;
    height: 24px;
    min-width: 50px;
}
#scrapp-btn:hover {
    background-color: rgb(24, 173, 24);
}

#input-url {
    height: 20px;
    flex: 1;
    margin-right: 3px;
    min-width: none;
}

#input-url label {
    background-color: aqua;

}

.texte-container {
    background-color: white;
    border: 1px solid black;
    height: 60vh;
    width: 100%;
    margin-top: 5px;
    overflow: auto;
}

